.columns {
    padding: 10px;
    /* border: 1px solid #ccc; */
}

.header {
    width: auto;
    height: 100px;
}

.logo {
    width: 100%;
}

.title-text {
    padding: 10px;
}

#pkt_processed_fig {
    width: 100%;
    height: 450px;
}

#performance_fig {
    width: 100%;
    height: 250px;
}

#class_details_fig {
    width: 100%;
    height: 450px;
}

#statistic_table {
    font-size: 20px;
}

.flow-table {
    height: 300px;
    overflow: auto;
}

/* table tbody {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

table thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */

/* table thead {
    width: calc(100% - 1em)
}

table thead th {
    background: #ccc;
} */

/* .table {
    width: 300px;
    height: 300px;
} */