<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DPDK-DDoS-Intercept</title>

        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery-3.7.1.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="col-1" style="padding: 10px;">
                    <!-- <img class="img-fluid" id="logo" alt="removed" src=""/> -->
                </div>
                <div class="col-11 title-text">
                    <h4>i.MX DDoS Blocker</h4>
                    <p>Demo for DDoS detection and intercept</p>
                </div>
            </div>
            <div class="row" style="height: 550px;">
                <div class="col-1"></div>
                <div class="col-6" id="ddos-network">
                    <img src="/static/images/ddos_example.gif" style="height: 520px;" alt="ddos network" class="img-fluid">
                </div>
                <div class="col-4 info-font-style attack-detection-info">
                    <div style="height: 60%; overflow-y: auto;">
                        <table id="connections-table" class="table table-striped">
                            <thead>
                                <th>Connection</th>
                                <th>Attack</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>192.168.0.44 --- 192.168.0.122</td>
                                    <td class="text-warning">Yes</td>
                                </tr>
                                <tr>
                                    <td>192.168.0.23 --- 192.168.0.122</td>
                                    <td class="text-info">No</td>
                                </tr>
                                <tr>
                                    <td>192.168.0.121 --- 192.168.0.122</td>
                                    <td class="text-info">No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <table id="score-table" class="table table-borderless table-default">
                        <thead>
                            <th class="text-danger">Attack</td>
                            <th>:</td>
                            <th class="text-success">Benign</td>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0</td>
                                <td></td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>DDoS rate:</td>
                                <td>0</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    <div class="row info-font-style">
                        <div class="col-5">
                            <ul id="dpdk-status">
                                <li>RX packets: 0</li>
                                <li>TX packets: 0</li>
                                <li>Throughput: 0 pps</li>
                            </ul>
                        </div>
                        <div class="col-7">
                            <ul id="model-status">
                                <li>Inference speed: 0 pps</li>
                                <li>NPU: </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-1"></div>
            </div>

        </div>
    <script src="static/js/home.js"></script>
    </body>
</html>